.grid-container {
    display: flex;
    flex-direction: column;
    margin: 35px 0;
}

.underlying-grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    max-width: 620px;
    justify-content: center;
}

.underlying-image {
    display: flex;
    width: 300px;
    height: 300px;
    margin: 1px;
    border-radius: 16px;
    background-color: #282c34;
    border: 1px solid rgba(127, 255, 212, 0.17);
}
.grid-wrapper {
    position: absolute;
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    max-width: 620px;
    justify-content: flex-start;
}

.generated-image-wrapper {
    position: relative;
}

.generated-image {
    display: flex;
    width: 300px;
    height: 300px;
    margin: 1px;

    -webkit-animation: fadeInFromNone 1.2s ease-in;
    -moz-animation: fadeInFromNone 1.2s ease-in;
    -o-animation: fadeInFromNone 1.2s ease-in;
    animation: fadeInFromNone 1.2s ease-in;

    background: rgba(127, 255, 212, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(127, 255, 212, 0.17);
}

 @keyframes fadeInFromNone {
    0% {
        background: rgba(127, 255, 212, 0.0);
        border-radius: 16px;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(127, 255, 212, 0.17);
    }

    60% {
        background: rgba(127, 255, 212, 0.4);
        border-radius: 16px;
        box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(127, 255, 212, 0.17);
    }

    80% {
        background: rgba(127, 255, 212, 0.6);
        border-radius: 16px;
        box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(127, 255, 212, 0.17);
    }

    100% {
        background: rgba(127, 255, 212, 0.7);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(127, 255, 212, 0.17);
    }
}

.hidden-overlay {
    display: none;
    width: 0;
    height: 0;
}

.image-selected + div {        
    width: 303px;
    height: 303px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(57, 57, 57, 0.5);
    pointer-events: none;
    border-radius: 16px;
      
}

.image-selected ~ .add-meta-data-btn {
    position: absolute;
    display: inline !important;
    bottom: 1px;
    height: 27px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0.75;
}
.add-meta-data-btn {
    display: none;
}

.expand-image {
    position: absolute;
    width: 610px;
    height: 610px;
    z-index: 2;
    left: 15px;
    top: 15px;
}

.expand-image > .add-meta-data-btn {
    bottom: -3px;
}

.expand-image > img {
    width: 100%;
    height: 100%;
    left: 15px;
}

.expand-image ~ .add-meta-data-btn {
    z-index: 3;
}

.expand-image > div.hidden-overlay {
    width: 100% !important;
    height: 100% !important; 
    pointer-events: all !important;
    padding: 2px;
}

/* Hide checkmark icon on expanded image */

.expand-image > div.hidden-overlay > img {
    display: none;
}

.expand-image-wrapper {
    position: initial !important;
}

.metadata-textarea {
    width: 280px;
    height: 280px;
    padding: 10px 5px;
    border-radius: 5px;
    opacity: 0.85;
    resize: none;
}